In [1]:
import dask.dataframe as dask
import pandas as pd

In [2]:
parking_filename = 'parking_duration_of_parking_event_vs_street_ID.csv'

In [4]:
parking = dask.read_csv(parking_filename)

In [9]:
parking.head()

,Area Name,Street Name,Between Street 1,Between Street 2,Side Of Street,Street Marker,Arrival Time,Departure Time,Duration of Parking Event (in seconds),Sign,In Violation?,Street ID,Device ID
0,Banks,MARKET STREET,FLINDERS LANE,FLINDERS STREET,5,1263W,01/10/2011 12:01:10 AM,01/10/2011 12:02:44 AM,94,2P DIS M-SUN 0:00-23:59,0,957,1667
1,Chinatown,RUSSELL STREET,BOURKE STREET,Lt COLLINS STREET,2,742E,01/10/2011 12:01:11 AM,01/10/2011 03:58:20 AM,14229,4P DIS AOT 12:00-7:30,0,1221,525
2,Courtney,ELIZABETH STREET,PELHAM STREET,QUEENSBERRY STREET,2,4744E,01/10/2011 12:01:11 AM,01/10/2011 11:00:19 AM,39548,2P DIS M-SUN 0:00-23:59,1,627,3202
3,Princes Theatre,EXHIBITION STREET,Lt BOURKE STREET,BOURKE STREET,2,452E,01/10/2011 12:01:13 AM,01/10/2011 12:37:42 AM,2189,2P DIS M-SUN 0:00-23:59,0,647,201
4,Princes Theatre,EXHIBITION STREET,BOURKE STREET,Lt COLLINS STREET,5,429W,01/10/2011 12:01:14 AM,01/10/2011 05:28:10 AM,19616,TKT AREA M-SUN 0:00 - 7:30,0,647,176

In [16]:
parking.shape().compute()

TypeError: 'tuple' object is not callable

In [14]:
parking['Area Name'].value_counts().compute()

Queensberry        1251600
Princes Theatre     904186
Victoria Market     845505
Regency             774955
Southbank           772985
The Mac             748260
Hyatt               718992
Titles              684197
Rialto              544591
City Square         527002
County              518606
Hardware            499803
Chinatown           482723
Courtney            473033
Magistrates         456578
Banks               446577
Spencer             444369
RACV                395147
Jolimont            353732
Supreme             235165
Tavistock            64306
Docklands            62753
West Melbourne        3113
Name: Area Name, dtype: int64

In [17]:
parking['Street Name'].value_counts().compute()

LONSDALE STREET             1170701
QUEEN STREET                 919635
LA TROBE STREET              711087
EXHIBITION STREET            698729
FRANKLIN STREET              654323
                             ...
Lt DRYBURGH STREET SOUTH       4448
BATMAN STREET                  3457
UNION STREET                   2176
ANDERSON STREET                2173
ABBOTSFORD STREET              1327
Name: Street Name, Length: 75, dtype: int64

In [18]:
parking['Between Street 1'].value_counts().compute()

KING STREET           1092126
QUEEN STREET           994427
WILLIAM STREET         788501
QUEENSBERRY STREET     777738
RUSSELL STREET         669756
                       ...
STANLEY STREET           1148
PROVOST STREET            602
ABBOTSFORD STREET         574
LAURENS STREET            564
MUNSTER TERRACE           165
Name: Between Street 1, Length: 73, dtype: int64

In [19]:
parking['Between Street 2'].value_counts().compute()

WILLIAM STREET         1054440
ELIZABETH STREET       1022481
VICTORIA STREET         995084
QUEEN STREET            952430
EXHIBITION STREET       656965
                        ...
MILLER STREET             2173
SOUTHBANK BOULEVARD       1335
CURZON STREET              574
MUNSTER TERRACE            564
DRYBURGH STREET            165
Name: Between Street 2, Length: 73, dtype: int64

In [20]:
parking['Side Of Street'].value_counts().compute()

4    3008809
1    2718170
3    2672042
5    2005692
2    1803465
Name: Side Of Street, dtype: int64

In [23]:
(parking['Duration of Parking Event (in seconds)'] <= 0).any().compute()

False

In [24]:
parking['Street ID'].value_counts().compute()

894     1170701
1171     919635
856      711087
647      698729
681      654323
         ...
917        4448
78         3457
1368       2176
28         2173
6          1327
Name: Street ID, Length: 75, dtype: int64

In [25]:
(parking['Device ID'] <= 0).any().compute()

False